

#menu_checkbox {
  display: none;
}

label {
  display: block;
  width: 30px;
  height: 30px;
 margin-right: 10px;
  cursor: pointer;
}

label:before {
  content: "";
  transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
}

label div {
  position: relative;
  height: 6px;
  background-color: #fff;
  margin-bottom: 6px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 2px;
}

label div:first-child {
  transform-origin: 0;
}

label div:last-child {
  margin-bottom: 0;
  transform-origin: 30px;
}

label div:nth-child(2) {
  right: 0;
  width: 30px;
}


#menu_checkbox:checked + label div:first-child {
  top: -3px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:last-child {
  top: 3px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:nth-child(2) {
  width: 42.5px;
  top: 0;
  right: 6.5px;
  transform: rotateZ(-45deg);
}
