li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1rem;
}

a:hover {
	color: #373e46;
}

header {
	background-color: #4ecca3;
	position: relative;
	width: 100%;
}

.navbar {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-items: space-between;
}

.navbar .logo a {
	margin-right: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .itens {
	display: flex;
	gap: 2rem;
	flex-grow: 1;
	justify-content: center;
}

.navbar .toogle_btn {
	color: #ffffff;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.svgLogo {
	width: 4rem;
	height: auto;

	display: relative;
}

/* Reponsive Navbar */

@media (max-width: 992px) {
	.navbar .itens,
	.navbar .navbar_btn {
		display: none;
	}

	.navbar .toogle_btn {
		display: block;
	}
}
